.intervalBody {
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.2);
    &__item {
        flex: 1;
        transition: background-color ease 0.15s;
        text-align: center;
        border-radius: 5px;
        &:hover {
            background-color: rgba(255, 255, 255, 0.4);
            cursor: pointer;
        }
        &_choosen {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}